
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificación de contacto - Javier Martinez</title>
    
  </head>
  <body style="margin: 0;background-color: #f4f4f4;font-family: Arial, sans-serif;">
    <table class="wrapper" cellpadding="0" cellspacing="0" style="width: 100%;border-collapse: collapse;table-layout: fixed;background-color: #f4f4f4;padding: 20px;">
      <tr>
        <td>
          <table class="content" cellpadding="0" cellspacing="0" style="width: 100%;border-collapse: collapse;max-width: 600px;margin: 0 auto;background-color: #ffffff;padding: 0;border-radius: 8px;">
            <tr>
              <td class="header" style="background-color: #000000;color: #ffffff;text-align: center;padding: 20px;">
                <img style="width: 300px; height: auto; max-width: 100%;" src="https://proyecto2-4fvx.onrender.com/static/img/logoTP.png" >
              </td>
            </tr>

            <tr>
              <td class="message" style="font-size: 16px;line-height: 1.5;text-align: center;padding: 20px;">
                <p>Hola, el usuario {{ User }} se ha comunicado con usted</p>
                <p>
                  Información de contacto:
                </p>
                <p>Nombre: {{ User }}</p>
                <p>Email: {{ Email }}</p>
                <p>Telefono: {{ Telefono }}</p>
                <p>Mensaje: {{ Mensaje }}</p>
              </td>
            </tr>

            <tr>
              <td class="footer" style="background-color: #000000;color: #ffffff;text-align: center;padding: 20px;">
                <p>
                  Sígueme en
                  <a href="https://linkedin.com/in/javiermartinez" style="color: #0073b1;text-decoration: none;">LinkedIn</a>
                </p>
                <div class="social-icons" style="margin-top: 20px;">
                  <a href="https://linkedin.com/in/javiermartinez" style="color: #0073b1;text-decoration: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 256 256" width="30" height="30" fill-rule="nonzero" xmlns:v="https://vecta.io/nano"><path d="M0 256V0h256v256z" fill="#fff"></path><path d="M204.8 34.133H51.2c-9.429 0-17.067 7.637-17.067 17.067v153.6c0 9.429 7.637 17.067 17.067 17.067h153.6c9.429 0 17.067-7.637 17.067-17.067V51.2c0-9.429-7.637-17.067-17.067-17.067zm-111.326 153.6H68.301v-80.998h25.173zM80.631 95.155a14.68 14.68 0 0 1-14.677-14.677c0-8.098 6.571-14.669 14.677-14.669 8.09 0 14.669 6.579 14.669 14.669a14.69 14.69 0 0 1-14.669 14.677zm107.136 92.578h-25.156v-39.39c0-9.395-.171-21.478-13.082-21.478-13.099 0-15.113 10.231-15.113 20.796v40.073h-25.156v-80.998h24.149v11.068h.341c3.362-6.366 11.571-13.082 23.817-13.082 25.489 0 30.199 16.777 30.199 38.588z" fill="red"></path></svg>
                  </a>
                </div>
                <p>WhatsApp: +57 3165363352</p>
                <p>Correo: administracion@javieremartinez.co</p>
                <p>
                  © Copyright 2025. Designed and Developed by Javier Martínez<br>
                  Architecture & Acoustic
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>