body{
    background-color: #000000;
}

div.login-logo img {
    width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}

button, input[type="submit"] {
    background-color: #474747 !important;
    color: #ffffff !important;
    border: none !important;
    border-color: none !important;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover, input[type="submit"]:hover {
    background-color: #5a5a5a !important;
}

#recent-actions-module{
    display: none;
}